@import '/client/scss/_colors';
@import '/client/scss/_layout';

.recordsAddForm {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  margin: 1rem 1.5rem;
  padding: 1rem 1.5rem;

  color: $backgroundColorBlack;
  background-color: $backgroundColorSmokeWhite;
  border-radius: 8px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formFieldLabel {
  padding: 0 2px;

  font-size: 0.7rem;
}

.formFieldInput {
  border: 1px solid $gray;
  border-radius: 4px;

  font-size: 1rem;
}

.addCancelButtons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;

  gap: 0.5rem;
}

.cancelButton, .submitNewRecordButton {
  padding: 0.5rem 1rem;

  color: $backgroundColorWhite;
  background-color: $backgroundColorBlack;
  border: 1px solid $backgroundColorBlack;
  border-radius: 8px;
  box-shadow: none;

  font-size: 0.8rem;
}