@import '/client/scss/_colors';
@import '/client/scss/_layout';

.totalBalanceSection {
  display: flex;
  flex-direction: column;

  padding: 2rem 0 3rem;
  gap: 3rem;

  background-color: $backgroundColorSmokeWhite;
}

.titleBar {  
  padding-left: 0.5rem;
}

.titleBarText {
  cursor: pointer;
}

.currentPartyInTitle {
  display: inline-block;
}
.currentPartyInTitle::after {
  content: '';
  display: block;
  height: 4px;

  background-color: $backgroundColorDarkBlue;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.balances {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.userBalanceAndDueDate {
  display: flex;
  flex-direction: column;

  width: 300px;

  background-color: $backgroundColorWhite;
  border-radius: 8px;
  box-shadow: 8px 8px 20px 2px $backgroundColorDarkBlue;
  transition: 0.3s;
}

.userBalanceAndDueDate:hover {
  box-shadow: 1px 1px 10px 0 $backgroundColorDarkBlue;
}

.userBalance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;

  gap: 1rem;
  padding: 2rem 1rem;
  height: 80px;
}

.userBalanceTitle {
  font-size: 1rem;
  font-weight: 400;
  flex-grow: 0;
}

.userBalanceAmount {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  font-weight: 800;
  // color: $backgroundColorGreen;
  flex-grow: 1;
  
}

.dueDateText {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0.5rem 1.5rem;
  height: 70px;

  font-size: 0.9rem;
  font-weight: 600;
  color: $backgroundColorDarkBlue;
  background-color: $backgroundColorLightBlue;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.date {
  color: $backgroundColorRed;
}

.downArrowToUser {
  width: 2rem;
  height: 2rem;
  
  transform: rotate(180deg);
}

.downArrowToCounterParty {
  width: 2rem;
  height: 2rem;
}

@media only screen and (min-width: $tablet-mid-start) {
  .titleBar {
    padding-left: 1rem;
  }

  .content {
    gap: 4rem;
  }

  .balances {
    flex-direction: row;

    gap: clamp(2rem, 3vw, 4rem);
  }

  .downArrowToUser {
    width: 1rem;
    height: 1rem;
    transform: rotate(90deg);
  }
  
  .downArrowToCounterParty {
    width: 1rem;
    height: 1rem;
    
    transform: rotate(-90deg);
  }
}