@import '/client/scss/_colors';
@import '/client/scss/_layout';

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // margin-bottom: 3rem;
  padding: 1rem 2rem;
  gap: 0.5rem;

  box-shadow: 0 1px 0 0 $borderGray;
  // border-bottom: 1px solid $borderGray;
  box-shadow: 0 4px 5px 0 $backgroundColorBlack;
}

.navLogo h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.navLinkList {
  display: flex;

  margin: 0;
  padding: 0;
  gap: 1rem;

  list-style: none;
}

.navLink:hover {
  text-decoration: underline 5px;
  text-decoration-color: $backgroundColorBlue;
  text-underline-offset: 0.5rem;
}

.logoPart1 {
  color: $backgroundColorBlue;
}

@media only screen and (min-width: $tablet-mid-start) {
  .navigation {
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navLinkList {
    gap: 2rem;
  }
}