@import '/client/scss/_colors';
@import '/client/scss/_layout';

.chooseRecordPrompt {
  display: flex;
  justify-content: space-between;

  gap: 0.5rem;
  padding: 1rem 1.5rem;

  color: $backgroundColorSmokeWhite;
}

.deleteRecordPrompt {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  margin: 1rem 1.5rem;
  padding: 1rem 1.5rem;

  color: $backgroundColorBlack;
  background-color: $backgroundColorSmokeWhite;
  border-radius: 8px;
}

.deleteRecordText {
  font-size: 0.8rem;
}

.deletedRecordDetails {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.deletedRecordDetailsItem {
  display: flex;
  flex-direction: column;

  list-style-type: none;
}

.deletedRecordDetailsItemTitle {
  font-size: 0.8rem;
}

.deletedRecordDetailsItemName {
  // color: $backgroundColorDarkBlue;
  font-weight: 600;
}

.deleteCancelButtons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;

  gap: 0.5rem;
}

.cancelButton, .deleteButton {
  padding: 0.5rem 1rem;

  color: $backgroundColorWhite;
  background-color: $backgroundColorBlack;
  border: 1px solid $backgroundColorBlack;
  border-radius: 8px;
  box-shadow: none;

  font-size: 0.6rem;
}