@import '/client/scss/_colors';
@import '/client/scss/_layout';

.recordsSection {
  display: flex;
  flex-direction: column;

  padding: 2rem 0 3rem;
  gap: 2rem;

  background-color: $backgroundColorBlue;
}

.titleBar {
  padding-left: 0.5rem;

  color: $backgroundColorWhite;
}

.currentPartyInTitle {
  display: inline-block;
}
.currentPartyInTitle::after {
  content: '';
  display: block;
  height: 4px;

  background-color: $gray;
  border-radius: 8px;
}

@media only screen and (min-width: $tablet-mid-start) {

}