@import '/client/scss/_colors';
@import '/client/scss/_layout';

.recordsSection {
  display: flex;
  flex-direction: column;

  padding: 2rem 0 3rem;

  background-color: $backgroundColorBlue;
}

.titleBar {
  padding-left: 0.5rem;

  color: $backgroundColorWhite;
}

.currentPartyInTitle {
  display: inline-block;
}
.currentPartyInTitle::after {
  content: '';
  display: block;
  height: 4px;

  background-color: $gray;
  border-radius: 8px;
}

.alterRecords {
  display: flex;
  // justify-content: space-between;

  // padding: 1.25rem 0.5rem;
  // padding: 0 0.5rem;
}

.alterRecordsButtons {
  display: flex;

  padding: 1.25rem 0.5rem;
  gap: 0.25rem;
}

.addButton, .editButton, .deleteButton, .cancelButton, .submitNewRecordButton {
  padding: 0.5rem 1rem;

  color: $backgroundColorWhite;
  background-color: $backgroundColorBlack;
  border: 1px solid $backgroundColorBlack;
  border-radius: 8px;
  box-shadow: none;

  font-size: 0.6rem;
}



@media only screen and (min-width: $tablet-mid-start) {
  .titleBar {
    padding-left: 1rem;
  }
}