@import '/client/scss/_colors';

.mainContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}

// flex: 1 1 auto needed to grow .summary-and-records into remaining space available
.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
};
