$mainTextWhite: #ffffff;
$mainTextColorBlack: rgb(51, 51, 51);
$backgroundColorWhite: #ffffff;
$backgroundColorBlack: rgb(51, 51, 51);

$backgroundColorSmokeWhite: rgb(238, 238, 238);
$backgroundColorBlue: rgb(36, 125, 175);
$backgroundColorLightBlue: rgb(212, 236, 249);
$backgroundColorDarkBlue: #002d70;
$backgroundColorGreen: rgb(45, 129, 23);
// $backgroundColorLightGreen: rgb(45, 129, 23);
$backgroundColorRed: #E60100;
$borderGray: #c1c3c3;

$gray: rgb(167, 167, 167);