$mainTextWhite: #F1F1F8;
$mainTextColorBlack: #000000;
$backgroundColorWhite: #ffffff;
$backgroundColorBlack: #211E1E;
// $backgroundColorSmokeWhite: #F0F1FB;
$backgroundColorBlue: #117ACA;
$backgroundColorRed: #E60100;
$borderGray: #c1c3c3;