/*****   MAIN STYLING   *****/
body {
  background: $lightPurple;
  font-family: 'Avenir', Verdana,'Segoe UI', Tahoma, sans-serif;
};

nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.center {
  text-align: center;
}

.nav-logo {
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
}

.nav-logout {
  margin-left: 15px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
};

.main-inner-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 7fr
};

.total-balance-container {
  margin: 10px;
  display: flex;
  gap: 100px;
}

/*****   LOGIN AND SIGNUP STYLING   *****/
.login-page-wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px auto 0;
  position: relative;

}

.login-left-img {
  width: 50%;
  flex: 1 1 25%;
}

.login-signup-wrapper {
  display: flex;
  flex-direction: column;
}

.login-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  position: relative;
  // margin: 40px auto 0;
};

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
};

// button
.signup-login-button {
  width: 150px;
};

.signup-page-wrapper {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
};

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signup-page-format {
  min-width: 250px;
  display: flex;
  justify-content: space-between;
}


/*****   COUNTERPARTIES STYLING   *****/
.left-counterparties {
  margin: 10px;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
}


/*****   RECORDS CONTAINER STYLING   *****/
.add-record-wrapper{
  // border: solid 1px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

// .add-record-title {
//   flex-basis: 50%;
// }

// .records-post-form {
//   // box-sizing: border-box;
//   display: flex;
//   // border: 1px solid black;
//   // min-height: 120px;
//   // padding: 10px;
//   flex-grow: 1;
//   flex-basis: 50%;
// }

.post-form-inputs-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin: 10px;
  padding: 10px;
}


/*****   RECORDS GRID STYLING   *****/
.records-container {
  margin: 10px;
  // padding: 10px;
  // border: 1px solid black;
}

.records-grid-container {
  display: grid;
  // grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-flow: row;
  gap: 3px;
  // grid:  auto auto auto auto
  // display: table-cell;
}



.grid-record {
  display: grid;
  grid-auto-flow: column;
  // grid: 50px / auto auto auto auto auto;
  grid: repeat(9, auto);
  // grid-template-columns: repeat(auto-fill, 200px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

// .add-or-update-wrapper {
//   display: flex;
//   justify-content: space-between;
//   gap: 10px;
// }



.records-update-form {
  box-sizing: border-box;
  border: 1px solid black;
  min-height: 120px;
  padding: 10px;
  flex-grow: 1;
}