// login
.login-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  position: relative;

}

.login-container {
  width: 100%;
  box-sizing: border-box;
  margin: 32px auto 0;
  display: flex;
  justify-content: center;
  // flex-shrink: 0;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.login-left {
  width: 50%;
  flex: 1 1 50%;
}

.login-only-wrapper, .login-signup-wrapper {
  border: 1px solid black;
  // margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.login-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  position: relative;
  // margin: 40px auto 0;
};

.login-form {
  display: flex;
  flex-direction: column;
}


.main-wrapper {
  display: flex;
  flex-direction: column;
};

body {
  background: $lightPurple;
};

.innerContainer {
  display: flex;
};

.single-entry-container {
  // max-width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
};

.item-box {
  max-width: 100px;
  flex-grow: 1;
};

.name-box {
  max-width: 100px;
  flex-grow: 1;
};

.purchase_date-box {
  max-width: 100px;
  flex-grow: 1;
};

.item_name-box {
  max-width: 100px;
  flex-grow: 1;
};

.cost-box {
  max-width: 100px;  
  flex-grow: 1;
};

.notes-box {
  max-width: 100px;
  flex-grow: 1;
};

.searched-container {
  display: flex;
  // flex-direction: row;
};


.input-fields {
  max-width: 100px;
  display: flex;
  flex-direction: column;
};

// general styling

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
};